<main class="team-main">
  <div class="error-messages-container">
    <%= render "shared/error_messages", model: @team %>
  </div>
  <div class="team-main-title">
    チーム情報編集画面です
  </div>
  <%= form_with model: @team, local: true do |f| %>
    <%= f.text_field :name, placeholder: "チーム名を入力してください", class:"team-name-field" %>
    <%= f.submit "チーム情報を編集する", class:"team-new-btn" %>
  <% end %>
  <%= link_to "チーム詳細画面に戻る", team_path(@team) %>
</main>