<main class="container mx-md-auto" style="max-width: 788px;">
  <div class="error-messages-container">
    <%= render "shared/error_messages", model: @team %>
  </div>
  <div class="alert alert-secondary text-center rounded-0 border-0">
    チーム情報編集画面です
  </div>
  <%= form_with model: @team,class:"form-group", local: true do |f| %>
  <%= f.text_field :name, placeholder: "チーム名を入力してください", class:"form-control" %>
  <%= f.submit "チーム名を変更する", class:"form-control text-secondary ps-0 my-3 btn-light" %>
  <button class="form-control btn-light"><%= link_to "チーム詳細画面に戻る", team_path(@team), class:"text-secondary btn mb-0 p-0" %></button>
  <% end %>
</main>