<% if user_signed_in? %>
  <div class="weekly-menu-container">
    <% 7.times do |i| %>
      <div class="daily-menu-container">
      <%= "日付：#{Date.today - 3 + i}" %>
      <% day = (Date.today + i - 3).wday %>
      <%= "(#{Wday.find(day).name})" %>
      <% if @hiit_for_current_user.any? %>
        <% @hiit_for_current_user.each do |hiit_for_current_user| %>
          <% if HiitDate.exists?(hiit_id: hiit_for_current_user.id, date: day) %>
            <div>
              <%= hiit_for_current_user.name %>
              <% if UserHiit.exists?(user_id: current_user.id, hiit_id: hiit_for_current_user.id, done_dates: (Date.today - 3 + i)) %>
                実施済み
              <% else %>
                未実施
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if i == 3 %>
        <div>
          <%= link_to "今日の予定を見る", user_user_hiits_path(current_user) %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<% if user_signed_in? && current_user.admin? %>
  <div>
  <%= link_to "メニューを作成する", new_menu_path %>
  <%= link_to "HIITを作成する", new_hiit_path %>
  <%= link_to "グループを作成する", new_group_path %>
<% end %>