<main>
  <% if user_signed_in? %>
    <h1 class="shared-title"><%= current_user.name %>さんの今週の予定です</h1>
    <div class="weekly-menu-container">
      <% 7.times do |i| %>
        <div class="daily-menu-container rounded">
          <div class="container-except-today">
            <div class="date-container">
              <%= "#{(Date.today - 3 + i).strftime('%m/%d')}" %>
              <% day = (Date.today + i - 3).wday %>
              <%= "(#{Wday.find(day).name.slice(0)})" %>
            </div>
            <% if @hiit_for_current_user.any? %>
              <% 
                that_day_hiit_for_current_user = []
                @hiit_for_current_user.each do |hiit_for_current_user|
                  if HiitDate.exists?(hiit_id: hiit_for_current_user.id, date: day)
                    HiitDate.where(hiit_id: hiit_for_current_user.id, date: day).each do |hiit_date|
                      that_day_hiit_for_current_user << hiit_date.hiit
                    end
                  end
                end
              %>
              <% if that_day_hiit_for_current_user.length > 4 %>
                <% 3.times do |j| %>
                  <div class="todays-hiit-container">
                    <% if UserHiit.exists?(user_id: current_user.id, hiit_id: that_day_hiit_for_current_user[j].id, done_dates: (Date.today - 3 + i)) %>
                      ✅
                    <% else %>
                      ❌
                    <% end %>
                    <%= link_to that_day_hiit_for_current_user[j].name, hiit_path(that_day_hiit_for_current_user[j]),class:"btn btn-link text-secondary mb-0" %>
                  </div>
                <% end %>
                <div class="todays-hiit-container">
                    <% if UserHiit.exists?(user_id: current_user.id, hiit_id: that_day_hiit_for_current_user[3].id, done_dates: (Date.today - 3 + i)) %>
                      ✅
                    <% else %>
                      ❌
                    <% end %>
                    <%= link_to that_day_hiit_for_current_user[3].name, hiit_path(that_day_hiit_for_current_user[3]),class:"btn btn-link text-secondary mb-0" %> ...
                  </div>
              <% elsif @hiit_for_current_user.any? %>
                <% @hiit_for_current_user.each do |hiit_for_current_user| %>
                  <% if HiitDate.exists?(hiit_id: hiit_for_current_user.id, date: day) %>
                    <div class="todays-hiit-container">
                      <% if UserHiit.exists?(user_id: current_user.id, hiit_id: hiit_for_current_user.id, done_dates: (Date.today - 3 + i)) %>
                        ✅
                      <% else %>
                        ❌
                      <% end %>
                      <%= link_to hiit_for_current_user.name, hiit_path(hiit_for_current_user),class:"btn btn-link text-secondary mb-0" %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if i == 3 %>
            <div class="link-to-today">
              <%= link_to "今日の予定を見る", user_user_hiits_path(current_user),class:"btn btn-link text-secondary mb-0 px-1" %>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="link-container">
      <%= link_to "メニューを作成する", new_menu_path, class:"text-secondary" %>
      <%= link_to "HIITを作成する", new_hiit_path, class:"text-secondary" %>
      <%= link_to "グループを作成する", new_group_path, class:"text-secondary" %>
    </div>
  <% end %>

  <% unless user_signed_in? %>
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "benchpress.jpg", class:"img-fluid img-gray" %>
          <div class="carousel-caption fs-4 text-light" style="bottom: 0.25rem;">より強く</div>
        </div>
        <div class="carousel-item">
          <%= image_tag "running.jpg", class:"img-fluid img-gray" %>
          <div class="carousel-caption fs-4 text-light" style="bottom: 0.25rem;">より軽やかに</div>
        </div>
        <div class="carousel-item">
          <%= image_tag "crossfit.jpg", class:"img-fluid img-black" %>
          <div class="carousel-caption fs-4 text-light" style="bottom: 0.25rem;">今よりも上を目指すすべての人へ</div>
        </div>
      </div>
    </div>

    <div class="mt-5 container">
      <div class="text-center mb-3">さあ、今すぐ始めよう</div>
      <div class="row row-cols-1 row-cols-sm-2">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header text-center">指導者の方</div>
              <%= image_tag "team.jpg", class:"card-img" %>
              <%= link_to "チームを登録する",new_team_path, class:"d-block btn btn-link text-secondary text-center mb-0" %>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header text-center">選手の方</div>
              <%= image_tag "player.jpg", class:"card-img" %>
              <%= link_to "ユーザー登録をする",new_user_registration_path, class:"d-block btn btn-link text-secondary text-center mb-0" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
