<div class="team-show team-name-container">
  <div class="team-name">
    <%= link_to @team.name, team_path(@team) %>
  </div>
  <div>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "チーム名を変更する", edit_team_path(@team), class:"team-name-submit" %>
  <% end %>
  </div>
</div>
<div class="team-show team-member-container">
  <div class="title">
    <div>選手・グループ名一覧</div>
    <div>
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to "新しいグループを作成する", new_group_path %>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <% @team.users.each do |user| %>
      <div class="each-member-container">
        <div><%= link_to user.name, "users/#{user.id}" %></div>
        <div>
          <% if current_user.user_groups.any? %>
            <% current_user.user_groups.each do |user_group| %>
                <%= link_to user_group.group.name, "#" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% elsif user_signed_in? && !(current_user.admin?) %>
    <% @team.users.each do |user| %>
      <% if current_user.id == user.id %>
        <div class="each-member-container">
          <div><%= link_to user.name, root_path %></div>
          <div>
            <% if user.user_groups.any? %>
              <% user.user_groups.each do |user_group| %>
                <%= link_to group.group.name, "#" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="each-member-container">
          <div><%= user.name %></div>
          <div>
            <% if user.user_groups.any? %>
              <% user.user_groups.each do |user_group| %>
                <%= link_to group.group.name, "#" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="team-show team-hiit-container">
  <div class="title">
    <div>登録されているHIIT一覧</div>
    <div>
      <% if current_user.admin? %>
      <%= link_to "新しいHIITを登録する", new_hiit_path %>
      <% end %>
    </div>
  </div>
  <% @team.hiits.each do |hiit| %>
    <div class="each-menu-container">
        <%= link_to hiit.name, hiit_path(hiit), class:"menu-name" %>
    </div>
  <% end %>
</div>
<div class="team-show team-menu-container">
  <div class="title">
    <div>登録されているメニュー一覧</div>
    <div>
      <% if current_user.admin? %>
      <%= link_to "新しいメニューを登録する", new_menu_path %>
      <% end %>
    </div>
  </div>
  <% @team.menus.each do |menu| %>
    <div class="each-menu-container">
      <%= link_to menu_path(menu) do %>
        <% if menu.icon.attached? %>
          <%= image_tag menu.icon.variant(resize: "100x100"), class:"menu-icon" %>
        <% end %>
        <%= link_to menu.name, class:"menu-name" %>
      <% end %>
    </div>
  <% end %>
</div>