<main>

  <div class="alert alert-secondary rounded-0 text-center">チーム情報のページです</div>

  <div class="card">
    <div class="d-flex justify-content-between align-items-center py-2">
      <div class="ps-4">チーム名</div>
      <div class="d-flex justify-content-between">
        <div class="px-2"><%= link_to @team.name, team_path(@team), class:"btn btn-link text-secondary mb-0" %></div>
        <% if user_signed_in? && current_user.admin? %>
          <div class="px-2"><%= link_to "変更する", edit_team_path(@team), class:"btn btn-link text-secondary mb-0" %></div>
        <% end %>
      </div>
    </div>
    <div class="accordion" id="accordion_1">
      <div class="accordion-item">
        <div class="accordion-header" id="headding1_1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1_1" aria-expanded="true" aria-controls="collapse1_1">
            選手・グループ一覧
          </button>
        </div>
        <div id="collapse1_1" class="accordion-collapse collapse show" aria-labelledby="heading1_1" data-bs-parent="accordion_1">
          <div class="accordion-body container">
            <div class="row">
              <div class="col-4">選手名</div>
              <div class="col-8">グループ名</div>
            </div>
            <% if user_signed_in? && current_user.admin? %>
              <% @team.users.each do |user| %>
                <div class="row">
                  <div class="col-4"><%= link_to user.name, detail_user_path(user), class:"btn text-secondary mb-0 ps-0" %></div>
                  <div class="col-8">
                    <% if user.user_groups.any? %>
                      <% user.user_groups.each do |user_group| %>
                        <span><%= link_to user_group.group.name, group_path(user_group.group), class:"btn text-secondary mb-0 ps-0" %></div>
                      <% end %>
                    <% else %>
                      この選手が所属しているグループはありません
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else user_signed_in? %>
              <% @team.users.each do |user| %>
                <div class="row">
                  <% if user.id == current_user.id %>
                    <div class="col-4"><%= link_to user.name, detail_user_path(user), class:"btn text-secondary mb-0 ps-0" %></div>
                  <% else %>
                    <div class="col-4"><%= user.name %></div>
                  <% end %>
                  <div class="col-8">
                    <% if user.user_groups.any? %>
                      <% user.user_groups.each do |user_group| %>
                        <span><%= link_to user_group.group.name, group_path(user_group.group), class:"btn text-secondary mb-0 ps-0" %></div>
                      <% end %>
                    <% else %>
                      この選手が所属しているグループはありません
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <table class="team-show-table">
  <tr class="team-show-key-tr">
    <th>
      <%= link_to @team.name, team_path(@team) %>
    </th>
    <td class="border-on">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "チーム名を変更する", edit_team_path(@team), class:"team-name-submit" %>
    <% end %>
    </td>
  </tr>
  <tr>
    <th>選手・グループ一覧</th>
    <td class="border-on">
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to "新しいグループを作成する", new_group_path %>
      <% end %>
    </th>
  </tr>
    <% if user_signed_in? && current_user.admin? %>
      <% @team.users.each do |user| %>
        <tr>
          <th class="team-show-key-th name-th"><%= link_to user.name, detail_user_path(user) %></th>
          <td class="border-on flex-td">
            <% if user.user_groups.any? %>
              <% user.user_groups.each do |user_group| %>
                  <%= link_to user_group.group.name, group_path(user_group.group) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% elsif user_signed_in? && !(current_user.admin?) %>
      <% @team.users.each do |user| %>
        <% if current_user.id == user.id %>
          <tr>
            <th class="team-show-key-th name-th"><%= link_to user.name, root_path %></th>
            <td class="border-on">
              <% if user.user_groups.any? %>
                <% user.user_groups.each do |user_group| %>
                  <%= link_to user_group.group.name, group_path(user_group.group) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <th class="team-show-key-th name-th"><%= user.name %></th>
            <td class="border-on">
              <% if user.user_groups.any? %>
                <% user.user_groups.each do |user_group| %>
                  <%= link_to user_group.group.name, group_path(user_group.group) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <tr class="team-show-key-tr-sub">
    <th class="team-show-key-th">登録されているHIIT一覧</th>
    <td class="border-on">
      <% if current_user.admin? %>
      <%= link_to "新しいHIITを登録する", new_hiit_path %>
      <% end %>
    </td>
  </tr>
    <% @team.hiits.each do |hiit| %>
      <tr>
        <th class="hiit-thread name-th">
          <%= link_to hiit.name, hiit_path(hiit), class:"menu-name" %>
        </th>
        <td class="hiit-group-td">
          <% if hiit.group != nil %>
            <%= link_to hiit.group.name, group_path(hiit.group) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="team-show-table-second">
  <tr class="team-show-key-tr-sub">
    <th class="team-show-key-th">
      <div>登録されているメニュー一覧</div>
      <% if current_user.admin? %>
        <span class="make-thin"><%= link_to "新しいメニューを登録する", new_menu_path %></span>
      <% end %>
    </th>
  </tr>
  <tr>
    <td class="menu-td">
      <div class="menu-containers">
        <% @team.menus.each do |menu| %>
          <div class="each-menu-container">
            <div></div>
            <%= link_to menu_path(menu) do %>
              <% if menu.icon.attached? %>
                <%= image_tag menu.icon.variant(resize: "100x100"), class:"menu-icon" %>
              <% end %>
                <%= menu.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
  </table>
</main>