<main>

  <div class="alert alert-secondary rounded-0 text-center">チーム情報のページです</div>

  <div class="card">
    <div class="d-flex justify-content-between align-items-center py-2">
      <div class="ps-4">チーム名</div>
      <div class="d-flex justify-content-between">
        <div class="px-2"><%= link_to @team.name, team_path(@team), class:"btn text-secondary mb-0" %></div>
        <% if user_signed_in? && current_user.admin? %>
          <div class="px-2"><%= link_to "変更する", edit_team_path(@team), class:"btn text-secondary mb-0" %></div>
        <% end %>
      </div>
    </div>
    <div class="accordion" id="accordion_1">
      <div class="accordion-item">
        <div class="accordion-header" id="headding1_1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1_1" aria-expanded="true" aria-controls="collapse1_1">
            選手・グループ一覧
          </button>
        </div>
        <div id="collapse1_1" class="accordion-collapse collapse show" aria-labelledby="heading1_1" data-bs-parent="accordion_1">
          <div class="accordion-body container pb-0">
            <div class="row">
              <div class="col-4" style="padding-left: 24px">選手名</div>
              <div class="col-8" style="padding-left: 24px">グループ名</div>
            </div>
            <% if user_signed_in? && current_user.admin? %>
              <% @team.users.each do |user| %>
                <div class="row">
                  <div class="col-4 d-flex align-items-center"><%= link_to user.name, detail_user_path(user), class:"btn text-secondary mb-0" %></div>
                  <div class="col-8 d-flex flex-wrap">
                    <% if user.user_groups.any? %>
                      <% user.user_groups.each do |user_group| %>
                        <div><%= link_to user_group.group.name, group_path(user_group.group), class:"btn text-secondary mb-0" %></div>
                      <% end %>
                    <% else %>
                      <div style="padding: 6px 0;">所属しているグループはありません</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else user_signed_in? %>
              <% @team.users.each do |user| %>
                <div class="row">
                  <% if user.id == current_user.id %>
                    <div class="col-4 d-flex align-items-center"><%= link_to user.name, detail_user_path(user), class:"btn text-secondary mb-0 ps-0" %></div>
                  <% else %>
                    <div class="col-4 d-flex align-items-center"><%= user.name %></div>
                  <% end %>
                  <div class="col-8 d-flex flex-wrap">
                    <% if user.user_groups.any? %>
                      <% user.user_groups.each do |user_group| %>
                        <div><%= link_to user_group.group.name, group_path(user_group.group), class:"btn text-secondary mb-0 ps-0" %></div>
                      <% end %>
                    <% else %>
                      <div style="padding: 6px 0;">所属しているグループはありません</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
              <div class="d-flex justify-content-end border-top boder-secondary">
                <%= link_to "グループを作成する",new_group_path, class:"d-block btn text-secondary mb-0" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordion_2">
      <div class="accordion-item">
        <div class="accordion-header" id="heading_2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
            HIIT一覧
          </button>
        </div>
        <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#accordion_2">
          <div class="accordion-body container pb-0">
            <div class="row">
              <div class="col-4" style="padding-left: 24px;">
                HIIT名
              </div>
              <div class="col-8" style="padding-left: 24px;">
                HIITを行っているグループ名
              </div>
            </div>
            <div class="row">
              <% if @team.hiits.any? %>
                <% @team.hiits.each do |hiit| %>
                  <div class="col-4 d-flex align-items-center">
                    <%= link_to hiit.name, hiit_path(hiit), class:"btn text-secondary mb-0" %>
                  </div>
                  <div class="col-8 d-flex flex-wrap">
                    <% if hiit.group != nil %>
                      <%= link_to hiit.group.name, group_path(hiit.group), class:"btn text-secondary mb-0" %>
                    <% else %>
                      このHIITに取り組んでいるグループはありません
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="col-12" style="padding: 6px 24px;">現在登録されているHIITはありません</div>
              <% end %>
            </div>
            <% if user_signed_in? && current_user.admin? %>
              <div class="d-flex justify-content-end border-top boder-secondary">
                <%= link_to "HIITを作成する",new_hiit_path, class:"d-block btn text-secondary mb-0" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordion_3">
      <div class="accordion-item">
        <div class="accordion-header" id="heading_3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
            メニュー一覧
          </button>
        </div>
        <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3" data-bs-parent="#accordion_3">
          <div class="accordion-body container pb-0">
            <div class="d-flex flex-wrap">
              <% if @team.menus.any? %>
                <% @team.menus.each do |menu| %>
                  <%= link_to menu_path(menu), class:"btn" do %>
                    <div class="card shadow-sm" style="width: 114px; height: 153px;">
                      <div class="d-flex justify-content-center align-items-center text-center mx-auto" style="width: 110px; height: 110px;">
                        <%= image_tag menu.icon.variant(resize: "100 x 100")%>
                      </div>
                      <div class="text-center card-header text-secondary"><%= menu.name %></div>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                登録されているメニューはありません
              <% end %>
            </div>
            <% if user_signed_in? && current_user.admin? %>
              <div class="d-flex justify-content-end border-top boder-secondary">
                <%= link_to "メニューを作成する",new_menu_path, class:"d-block btn text-secondary mb-0" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>