<main>
  <h1 class="shared-title mx-0"><%= link_to @user.name, user_path(@user), class:"text-dark text-decoration-none" %>さんの本日の予定</h1>

  <% if @today_hiit_for_user.any? %>
    <% @today_hiit_for_user.each do |hiit| %>
      <div class="card shadow-sm container">
        <div class="card-header row row-cols-1 row-cols-sm-2">
          <div class="col text-center">
            <% if UserHiit.exists?(hiit_id: hiit.id, user_id: @user.id, done_dates: Date.today) %>
              <span class="badge bg-dark">実施済み!!</span>
            <% else %>
              <span class="badge bg-dark">未実施</span>
            <% end %>
            <%= link_to hiit.name, hiit_path(hiit), class:"btn text-secondary mb-0 fs-3" %>
          </div>
          <div class="col d-flex justify-content-around align-items-center">
            <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to "更新する", hiit_user_hiits_path(hiit), method: :post, class:"btn text-secondary mb-0 p-0" %>
            <% end %>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 border-bottom border-bottom-light mb-2">
          <div class="col text-center py-2">1種目あたりの時間：<%= hiit.active_time %></div>
          <div class="col text-center py-2">休憩時間：<%= hiit.rest_time %></div>
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
          <% hiit.menu_hiits.length.times do |i| %>
            <div class="cols">
              <div class="menu-number"><%= "#{i + 1}種目目" %></div>
              <%= link_to menu_path(hiit.menu_hiits[i].menu), class:"text-secondary btn mb-0" do %>
                <%= image_tag hiit.menu_hiits[i].menu.icon, class:"img-fluid" %>
                <%= "#{hiit.menu_hiits[i].menu.name}" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-secondary rounded-0 border-0">本日の予定はありません</div>
  <% end %>



</main>

