<main>
  <div class="menu-detail">
    <%= render "shared/error_messages", model: @menu %>
    <%= form_with model: @menu, local: true do |f| %>
    <div class="form-title">
      <%= f.label :name, "メニューの名前" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-title">
      <%= f.label :icon, "メニューのアイコン" %>
      <%= f.file_field :icon %>
    </div>
    <div id="preview-container">
      <%= image_tag @menu.icon %>
    </div>
    <div class="form-title">
      <%= f.label :text, "メニューの説明文" %>
      <%= f.text_area :text %>
    </div>
    <div>
      <div>
        <%= f.submit "メニューを編集する" %>
      </div>
      <div class="link-container">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "メニューを削除する", menu_path(@menu), method: :delete %>
        <% end %>
        <%= link_to "メニューのページに戻る", menu_path(@menu) %>
        <%= link_to "新しいメニューを作成する", new_menu_path %>
      </div>
    </div>
    <% end %>
  </div>
</main>