<div class="menu-detail">
  <%= render "shared/error_messages", model: @menu %>
  <%= form_with model: @menu, local: true do |f| %>
  <div>
    <%= f.label "メニューの名前",:name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "メニューのアイコン",:icon %>
    <%= f.file_field :icon %>
  </div>
  <div id="preview-container">
    <%= image_tag @menu.icon %>
  </div>
  <div>
    <%= f.label "メニューの説明文",:text %>
    <%= f.text_area :text %>
  </div>
  <div>
    <div>
      <%= f.submit "メニューを編集する" %>
    </div>
    <div>
      <%= link_to "メニューを削除する", menu_path(@menu), method: :delete %>
    </div>
    <div>
      <%= link_to "メニューのページに戻る", menu_path(@menu) %>
      <%= link_to "新しいメニューを作成する", new_menu_path %>
    </div>
  </div>
  <% end %>
</div>