<%= render "shared/error_messages", model: @menu %>
<div class="menu-detail">
  <%= form_with model: @menu, local: true do |f| %>
  <div>
    <%= f.label "メニューの名前",:name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "メニューのアイコン",:icon %>
    <%= f.file_field :icon %>
  </div>
  <div id="preview-container">
  </div>
  <div>
    <%= f.label "メニューの説明文",:text %>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit "メニューを登録する" %>
    <%= link_to "ホームに戻る", team_path(current_user.team) %>
  </div>
  <% end %>
</div>