<%= render "shared/error_messages", model: @hiit_menu_hiit %>
<div class="menu-detail">
  <%= form_with model: @hiit_menu_hiit, url: hiits_path, local: true do |f| %>
  <div>
    <%= f.label :name, "HIITの名前" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :active_time, "ひと種目あたりの時間" %><i>(「（半角数字）秒」または「（半角数字）分」という形で入力してください)</i>
    <%= f.text_field :active_time %>
  </div>
  <div>
    <%= f.label :rest_time, "休憩時間" %><i>(「（半角数字）秒」または「（半角数字）分」という形で入力してください)</i>
    <%= f.text_field :rest_time %>
  </div>
  <div>
    <%= f.label :date, "実施日" %><i>(このHIITを実施する曜日に全てチェックを入れてください)</i><br>
    <div class="day-container">
    <%= f.collection_check_boxes(:date, Wday.all, :id, :name, include_hidden: false, name: "hiit_menu_hiit[date][]") %>
    </div>
  </div>
  <div>
    <% 8.times do |i| %>
      <div>
        <%= "#{i + 1}番目の種目" %><select name="hiit_menu_hiit[menu_ids][]">
          <option>---</option>
          <% current_user.team.menus.each do |menu| %>
            <option value='<%= "#{menu.id}" %>'><%= menu.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.submit "HIITを登録する" %>
    <%= link_to "チームのページに戻る", team_path(current_user.team) %>
  </div>
  <% end %>
</div>