<main>
<%= render "shared/error_messages", model: @group_user_group %>
<div class="menu-detail">
  <%= form_with model: @group_user_group, url: groups_path, local: true do |f| %>
  <div>
    <%= f.label :name, "グループの名前" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :hiit_id, "このグループで取り組むHIIT" %>
    <%= f.collection_select(:hiit_id, @hiits, :id, :name, { prompt: "---" }) %>
  </div>
  <div>
    <%= f.label :user_ids, "このグループのメンバー" %>
    <div class="day-container">
    <%= f.collection_check_boxes(:user_ids, @users, :id, :name, include_hidden: false, name: "group_user_group[user_ids][]") %>
    </div>
  </div>
  <div>
    <%= f.submit "グループを登録する" %>
    <%= link_to "チームのページに戻る", team_path(current_user.team) %>
  </div>
  <% end %>
</div>
</main>