<main>
  <div class="team-show-group-name">グループ名：<%= link_to "#{@group.name}", group_path(@group) %></div>
  <div class="team-show-hiit-name">このグループで取り組んでいるHIIT：<%= link_to @group.hiit.name, hiit_path(@group.hiit) %></div>
  <div>
    このHIITを行う曜日：
    <% Wday.all.each do |wday| %>
      <% if HiitDate.exists?(date: wday.id, hiit_id: @group.hiit.id) %>
        <span>
          <%= "  #{wday.name}  " %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="group-show-hiit-abstract"><%= "一種目あたりの時間：#{@group.hiit.active_time}" %><%= " ／ 休憩時間：#{@group.hiit.rest_time}" %></div>
  <div class="group-hiit-title">HIITの内容</div>
  <div class="menu-containers">
    <% @group.hiit.menu_hiits.length.times do |i| %>
      <div class="each-menu-container">
        <div><%= "#{i + 1}種目目" %></div>
        <%= link_to menu_path(@group.hiit.menu_hiits[i].menu) do %>
          <%= image_tag @group.hiit.menu_hiits[i].menu.icon.variant(resize: "100x100") %>
          <%=  @group.hiit.menu_hiits[i].menu.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="this-group-member">このグループのメンバー</div>
  <div class="group-users-container">
    <%= render "shared/each_user", users: @users %>
  </div>
  <div>
    <% if user_signed_in? && current_user.admin? %>
      <div class="lower-link">
        <%= link_to "グループの情報を編集する", edit_group_path(@group) %>
        <%=  link_to "グループを削除する", group_path(@group), method: :delete %>
      </div>
    <% end %>
    <div class="lower-link">
      <%= link_to "チームのページに戻る", team_path(current_user.team) %>
      <%= link_to "自分のページに戻る", root_path %>
    </div>
  </div>
</main>