<main>
  <h1><%= @user.name %>のトレーニングメニュー</h1>
  <div class="weekly-menu-container">
    <% 7.times do |i| %>
      <div class="daily-menu-container">
        <div class="container-except-today">
          <div class="date-container">
            <%= (Date.today - 3 + i).strftime('%m/%d') %>
            <% day = (Date.today + i - 3).wday %>
            <%= "(#{(Wday.find(day).name).slice(0)})" %>
          </div>

        <% if @hiit_for_user.any? %>
          <% 
            that_day_hiit_for_user = []
            @hiit_for_user.each do |hiit_for_user|
              if HiitDate.exists?(hiit_id: hiit_for_user.id, date: day)
                HiitDate.where(hiit_id: hiit_for_user.id, date: day).each do |hiit_date|
                  that_day_hiit_for_user << hiit_date.hiit
                end
              end
            end
          %>
          <% if that_day_hiit_for_user.length > 4 %>
            <% 3.times do |j| %>
              <div class="todays-hiit-container">
                <% if UserHiit.exists?(user_id: @user.id, hiit_id: that_day_hiit_for_user[j].id, done_dates: (Date.today - 3 + i)) %>
                  ✅
                <% else %>
                  ❌
                <% end %>
                <%= link_to that_day_hiit_for_user[j].name, hiit_path(that_day_hiit_for_user[j]) %>
              </div>
            <% end %>
            <div class="todays-hiit-container">
                <% if UserHiit.exists?(user_id: @user.id, hiit_id: that_day_hiit_for_user[3].id, done_dates: (Date.today - 3 + i)) %>
                  ✅
                <% else %>
                  ❌
                <% end %>
                <%= link_to that_day_hiit_for_user[3].name, hiit_path(that_day_hiit_for_user[3]) %> ...
              </div>
          <% elsif @hiit_for_user.any? %>
            <% @hiit_for_user.each do |hiit_for_user| %>
              <% if HiitDate.exists?(hiit_id: hiit_for_user.id, date: day) %>
                <div class="todays-hiit-container">
                  <% if UserHiit.exists?(user_id: @user.id, hiit_id: hiit_for_user.id, done_dates: (Date.today - 3 + i)) %>
                    ✅
                  <% else %>
                    ❌
                  <% end %>
                  <%= link_to hiit_for_user.name, hiit_path(hiit_for_user) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        </div>
        <% if i == 3 %>
          <div class="link-to-today">
            <%= link_to "今日の予定を見る", user_user_hiits_path(@user) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user.admin? %>
    <div class="link-container">
      <%= link_to "#{@user.name}の詳細を見る", user_path(@user) %>
      <%= link_to "チームのページに戻る", team_path(@team) %>
    </div>
  <% end %>
</main>