<main>
  <% if @messages.any? %>
    <% @messages.each do |message| %>
      <div class="error-message">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <h1 class="shared-title mx-0"><%= "#{@user.name}さんの詳細ページです" %></h1>


  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div style="width: 35%;">お名前</div>
        <div><%= link_to @user.name, user_path(@user),class:"btn text-secondary mb-0" %></div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div style="width: 35%;">チーム名</div>
        <div><%= link_to @user.team.name, team_path(@user.team),class:"btn text-secondary mb-0" %></div>
        </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div style="width: 35%;">グループ<span class="d-none d-sm-inline">名</span></div>
        <div class="d-flex flex-wrap">
          <% if @user.user_groups.any? %>
            <% @user.user_groups.each do |user_group| %>
              <div><%= link_to user_group.group.name, group_path(user_group.group),class:"btn text-secondary mb-0" %></div>
            <% end %>
          <% else %>
            参加しているグループはありません
          <% end %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div style="width: 35%;">本日の予定</div>
        <div class="d-flex flex-wrap">
          <% if @today_hiit_for_user.any? %>
            <% @today_hiit_for_user.each do |today_hiit_for_user| %>
              <%= link_to today_hiit_for_user.name, hiit_path(today_hiit_for_user),class:"btn text-secondary mb-0" %>
            <% end %>
          <% else %>
            本日の予定はありません
          <% end %>
        </div>
      </li>
    </ul>
  </div>



  <% if user_signed_in? && (current_user.admin? || current_user.id == @user.id) %>
    <div class="link-container">  
      <%= link_to "本日の詳しい予定を見る", user_user_hiits_path(@user), class:"btn text-secondary mb-0" %>
      <%= link_to "元のページに戻る", detail_user_path(@user), class:"btn text-secondary mb-0" %>
    </div>
  <% end %>
  <div class="link-container">  
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "ユーザー情報を編集する", edit_user_registration_path, class:"btn text-secondary mb-0" %>
    <% end %>
    <%= link_to "ホーム画面へ戻る", root_path, class:"btn text-secondary mb-0" %>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <div class="link-container">  
      <%= link_to "#{@user.name}を削除する", user_path(@user), method: :delete, class:"btn text-secondary mb-0" %>
    </div>
  <% end %>
</main>