<div>お名前：<%= link_to @user.name, user_path(@user) %></div>
<div>チーム名：<%= link_to @user.team.name, team_path(@user.team)  %></div>
<div>
  グループ名：
  <% if @user.user_groups.any? %>
    <% @user.user_groups.each do |user_group| %>
      <div><%= link_to user_group.group.name, group_path(user_group.group) %></div>
    <% end %>
  <% else %>
    参加しているグループはありません
  <% end %>
</div>
<div>
  本日の予定：
  <% if @today_hiit_for_user.any? %>
    <div>
    <% @today_hiit_for_user.each do |today_hiit_for_user| %>
      <%= today_hiit_for_user.name %>
    <% end %>
    </div>
    <div>
      <%= link_to "本日の詳しい予定を見る", user_user_hiits_path(@user) %>
  <% else %>
    本日の予定はありません
  <% end %>
  </div>
<div>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "ユーザー情報を編集する", edit_user_registration_path %>
  <% end %>
  <%= link_to "ホーム画面へ戻る", root_path %>
</div>